{% extends "base.html" %}

{% block content %}
<h1>Share Room</h1>

{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="add_room_users">
    {{form.hidden_tag()}}
 
<table>
<tr>
<th> Email Address </th>
<th> Privilege </th>
<th> </th>
{% for user in form.users %}
    <tr>
    <td>
    {% for error in user.email.errors %}
    <span style="color: red;">[{{error}}]</span><br>
    {% endfor %}
    </td>
    </tr>

    <tr>
    <td> {{ user.email}} </td>
    <td> {{user.privilege}} </td>
    <td> </td>
    </tr>
{% endfor %}

<tr>
<td> </td>
<td> </td>
<td>
{{form.add_another_user}}
</td>
</tr>

</table>

<br>

<p><input type="submit"  class="btn" value="Share Room" ></p>
</form>

{% endblock %}




