{% extends "base.html" %}

{% block content %}
<h1>Admins</h1>

{% if users | length == 0 %}
    <p> There are no admins! </p>
{% else %}
	<div class="navigation_links">
	<a href="{{ url_for('admins') }}">View admins</a>
    | <a href="{{ url_for('manage_users') }}">Enable/disable accounts</a>
	| <a href="{{ url_for('add_admin') }}">Add admin</a>
	</div>
	<hr>
	</br>
	<table class="admin_list">
	<tr>
		<th> Nickname </th>
		<th> Email Address </th>
	</tr>

		{% for user in users %}
		<tr> 
			<td> <a href="{{ url_for('user', nickname=user.nickname) }}"> {{user.nickname}} </a> </td>
			<td> <a href="{{ url_for('user', nickname=user.nickname) }}"> {{user.email}} </a> </td>

		</tr>
		{% endfor %}
	</table>
{% endif %}
{% endblock %}
	
