{% extends "base.html" %}
{% block content %}
<h1>Manage Users in {{room.name}} </h1>
    <table>
        <tr>
            <th>User</th>
            <th>Privilege</th>
            <th> </th>
        </tr>
        <tr>
	    {% if room.user_id == g.user.id %}
                <td> <a href="{{ url_for('user', nickname=room.room_owner().nickname) }}"> You </a> </td>
	    {% else %}
                <td> <a href="{{ url_for('user', nickname=room.room_owner().nickname) }}"> {{room.room_owner().email}} </a> </td>
	    {% endif %}
            <td> Read/Write </td>
            <td> (Room Creator) </td>
            <td> </td>
	{% for user in users %}
        <tr>
            <td> <a href="{{ url_for('user', nickname=user.room_user().nickname) }}"> {{user.room_user().email}} </a> </td>
	    {% if user.privilege == 1 %}
	        {% set option1 = "selected" %}
	        {% set option2 = "" %}
	    {% else %}
	        {% set option1 = "" %}
	        {% set option2 = "selected" %}
	    {% endif %}


	        <td> 
		<form name = "update_user" method = "post" action = "{{url_for('update_room_user')}}">
		    <input type = "hidden" value = "{{user.id}}" name = "RoomUser_id"> 
		    <input type = "hidden" value = "{{room.id}}" name = "room_id"> 
		     <select name = "privilege">
		     <option value = "1" {{option1}} > Read/Write </option>
		     <option value = "0" {{option2}} > Read </option>
	             </select> 
		</td>
		<td> <input type = "submit" class="btn btn-small" value = "Update"> </td>
		</form>
            <td> <a class="btn btn-small" href="{{ url_for('remove_room_user', RoomUser_id=user.id) }}">  Remove  </a> </td>


        </tr>
	{% endfor %}
    </table>


{% endblock %}





