{% extends "base.html" %}
{% block content %}
<h1>Enable/Disable User Accounts</h1>
	<div class="navigation_links">
	<a href="{{ url_for('admins') }}">View admins</a>
    | <a href="{{ url_for('manage_users') }}">Enable/disable accounts</a>
	| <a href="{{ url_for('add_admin') }}">Add admin</a>
	</div>
	<hr>
{% if users | length == 0 %}
    <p> There are no users registered </p>
{% else %}
<div class="profile">
<table width="90%">
<tr>
    <th> Nickname </th>
    <th> Email Address </th>
    <th> Role </th>
    <th> Account Status </th>
    <th> Action </th>
</tr>

    {% for user in users %}
    <tr> 
        <td  class = "size15"> <a href="{{ url_for('user', nickname=user.nickname) }}"> {{user.nickname}} </a> </td>
        <td  class = "size35"> <a href="{{ url_for('user', nickname=user.nickname) }}"> {{user.email}} </a> </td>
        {% if user.role == 1 %}
            <td class = "size15"> Admin </td>
        {% else %}
            <td class = "size15"> User </td>
        {% endif %}
	<td class = "size15"> {{user.status}} </td>
        {% if user.status == 'Enabled' %}
            <td class = "size20"> <a href="{{ url_for('disable_account', id=user.id) }}"> Disable Account </a> </td>
        {% else %}
            <td class = "size20"> <a href="{{ url_for('enable_account', id=user.id) }}"> Enable Account </a> </td>
        {% endif %}


    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
	
