{% extends "base.html" %}
{% block content %}
{% if messages | length > 0 %}
    {% for message in messages %}
        <table class="contact_list">
	    {% set last_reply = message.message_threads.first() %}
            <tr valign="top">
                <td> <a href="{{ url_for('user', nickname = last_reply.other_user().nickname) }}"> {{last_reply.other_user().nickname}} </a> </td>
       		<td></td>
                <td></td>
        	<td></td>
            </tr>
            <tr valign="top">
                <td class = "messages1"> <a href="{{ url_for('user', nickname = last_reply.other_user().nickname) }}"> <img src="{{g.user.avatar(128)}}" width="30px"; height="30px"> </a> </td>
                <td class = "messages2"> <a href="{{ url_for('message', message_id = message.id) }}"> {{message.title }} </a> </td>
        	<td class = "messages3"> {{message.get_month()}} {{message.date.day}}, {{message.date.year}} at {{message.date.hour}}:{{message.get_minute()}} </td>
		<td> <a class = "btn btn-small" href="{{ url_for('delete_message', message_id = message.id) }}"> Delete </a> </td>
            </tr>
    {% endfor %}
        </table>
{% else %}
    <p> You have no messages! </p>
{% endif %}
{% endblock %}

style="width:20%;"
























