{% extends "base.html" %}

{% block content %}
<h1>Registration</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method=post name="register">
    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.nickname) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
  </dl>
  <p><input type="submit" class="btn" value="Register">
</form>
{% endblock %}




