{% extends 'devices.html' %}
{% block device_form %}
<form action="" method="post" name="room_form">
	{{form.hidden_tag()}}
	<table>


		<tr>
			<td></td>
			<td>
			{% for error in form.errors.name %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Room name:</td>
			<td>{{ form.name }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.webcam_url %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Room webcam:</td>
			<td>{{ form.webcam_url }}</td>
		</tr>

		<tr>
			<td></td>
			<td>
			{% for error in form.errors.enable %}
			<span style="color: red;">[{{error}}]</span><br>
			{% endfor %}
			</td>
		</tr>

		<tr>
			<td>Enable room devices:</td>
			<td>{{ form.enable }}</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" class="btn" value="Save Changes"></td>
		</tr>
	</table>
</form>
{% endblock %}

{% block house_num %}

{% endblock %}
