{% if g.user.is_authenticated() %}
    {% if shared_rooms | length >0 %}
	<h2>Rooms Shared With Me</h2>

	{% block device_form %}
	{% endblock %}

	{% for shared_room in shared_rooms %}
		<h2>
	    {{ shared_room.room.name }} (owner <a title = "view room owner's profile" href = "{{url_for('user', nickname = shared_room.room.room_owner().nickname ) }}">{{shared_room.room.room_owner().nickname}} </a> )
            <a title="remove room" alt="remove room" href="{{ url_for('remove_shared_room', user_id = g.user.id) }}"> <img alt = "remove room" src="{{ url_for('static', filename='images/glyphicons_016_bin.png') }}" height="15px" width="25px"/> </a> 
	        </h2>

		{% if shared_room.room.devices.all() | length >0 %}
		<table>
		<tr>
			<th>Device</th>
			<th>Request</br>type</th>
			<th>Base URL</th>
			<th>Commands</th>
			<th>Link (url+command)</th>
			{% if shared_room.privilege == 1 %}
			    <th>Edit/</br>Delete</th>
			    <th>Enable/</br>Disable</th>
			    <th>Sharing</th>
			{% endif %}
			<th>Status</th>
		</tr>
			{% for device in shared_room.room.devices %}
				<tr>
				<td>{{device.name}}</td>
				<td>{{device.request_type}}</td>
				<td>{{device.url}}</td>
				<td>{{device.command}}</br>{{device.command_optional}}</td>
				<td>
				{% if shared_room.room.enable %}
					{% if device.enable %}
						<a alt="{{device.name}}_{{device.command}}" href="{{url_for('outmsg',room=shared_room.room.name,device=device.name,command=device.command,request_type=device.request_type)}}" target="_self">{{device.url}}/{{device.command}}</a>
						{% if g.user.nickname in ['Simulator','Demo'] %}
							</br>
							<a href="http://shwa-home.appspot.com/makepost/{{g.user.nickname}}/{{shared_room.room.name}}/{{device.name}}/{{device.command}}/simulating", target='_blank'>Simulate</a>
						{% endif %}
						{% if device.command_optional %}
							</br>
							<a alt="{{device.name}}_{{device.command_optional}}" href="{{url_for('outmsg',room=shared_room.room.name,device=device.name,command=device.command_optional,request_type=device.request_type)}}" target="_self">{{device.url}}/{{device.command_optional}}</a>
							{% if g.user.nickname in ['Simulator','Demo'] %}
								</br>
								<a href="http://shwa-home.appspot.com/makepost/{{g.user.nickname}}/{{shared_room.room.name}}/{{device.name}}/{{device.command_optional}}/simulating", target='_blank'>Simulate_optional</a>
							{% endif %}
						{% endif %}
					{% else %}
						Device disabled<br>
					{% endif %}
				{% else %}
					Room disabled.<br>
					<a alt="{{shared_room.room.name}}_enable" href="{{ url_for('room_enable', id=shared_room.room.id) }}">Enable {{shared_room.room.name}}</a>
				{% endif %}
				</td>
				{% if shared_room.privilege == 1 or shared_room.room.user_id == g.user.id %}
				    <td>
				        <a href="{{ url_for('device_edit',id=device.id) }}">edit</a> / </br>
				        <a href="{{ url_for('device_delete',id=device.id) }}">delete</a>
				</td>
				{% endif %}
				{% if shared_room.privilege == 1 %}
				    <td>
					{% if device.enable %}
						<a alt="{{device.name}}_disable" href="{{ url_for('device_enable',id=device.id) }}">disable</a>
					{% else %}
						<a alt="{{device.name}}_enable"href="{{ url_for('device_enable',id=device.id) }}">enable</a>
					{% endif %}
				    </td>
				{% endif %}
				{% if shared_room.privilege == 1 %}
				    <td>
					    <a alt="share_device"href="{{ url_for('share_device',id=device.id) }}">share device</a>
				    </td>
				{% endif %}
				<td class = "size15">
				{{ device.message }} @ <i> {{device.get_month()}} {{device.last_used.day}}, {{device.last_used.year}} at {{device.last_used.hour}}:{{device.get_minute()}} </i>

				</td>
				</tr>
			{% endfor %}
		
		{% else %}
			<tr>
			No devices in room.</br>
			</tr>
		{% endif %}
		{% if shared_room.privilege == 1 %}
		<tr>
			<a alt='new_device' href="{{ url_for('device_add',nickname=g.user.nickname,room_name=shared_room.room.name) }}">Add device</a>
			{% if shared_room.room.enable %}
				| <a alt="{{shared_room.room.name}}_disable" href="{{ url_for('room_enable', id=shared_room.room.id) }}">Disable {{shared_room.room.name}}</a>
			{% else %}
				| <a alt="{{shared_room.room.name}}_enable" href="{{ url_for('room_enable', id=shared_room.room.id) }}">Enable {{shared_room.room.name}}</a>
			{% endif %}
			| <a alt='edit_room' href="{{ url_for('room_edit',id = shared_room.room.id) }}">Edit room</a>
			| <a alt='delete_room' href="{{ url_for('room_delete',id = shared_room.room.id) }}">Delete room</a>
			| <a alt="add users" href="{{ url_for('add_room_users',room_id = shared_room.room.id) }}">Add users</a>
			| <a alt="manage users" href="{{ url_for('manage_room_users',room_id = shared_room.room.id) }}">Manage users</a>
		</tr>
		{% endif %}
		</table>
	</br>
	{% endfor %}
    {% endif %}
{% else %}
	<h1>Welcome!</h1>
{% endif %}

