<!DOCTYPE html>
<html lang="en-US">
<head>
<link rel="shortcut icon" href="/static/favicon.ico"/>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap2.css') }}"  media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"  media="screen">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}"  media="all" />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    {% if title %}
    <title>Smart House Web App - {{title}}</title>
    {% else %}
    <title>Smart House Web App</title>
    {% endif %}

  </head>
   

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/home">Smart House Web App</a>
          <div class="nav-collapse collapse">

{% if g.user.is_authenticated() %}
            <p class="navbar-text pull-right">


<a title="view your profile" href="{{ url_for('user', nickname = g.user.nickname) }}"><img alt = "profile" src="{{ url_for('static', filename='images/users.svg') }}" height="15" width="30"/></a>
			<a title="view your house" href="{{ url_for('my_house') }}"> <img alt = "my house" align = "center" src="{{ url_for('static', filename='images/house.png') }}" height="15" width="30" /></a>
    		<a title="view your messages" href="{{ url_for('messages') }}"> <img alt = "inbox" align = "center" src="{{ url_for('static', filename='images/glyphicons_010_envelope.png') }}" height="15" width="30"/></a>
		<a class="navbar-link" title="safely leave the site" href="{{ url_for('logout') }}">Sign out</a>


            </p>

{% endif %}
            <ul class="nav">

{% if g.user.is_authenticated() %}
    		

		<li class="active"><a title="view main page" href="/home">Home</a></li>
    		<li><a title="useful tips" href="{{ url_for('how_to') }}">How To</a> <!--child--></li>
    		<li><a title="support community" href="{{ url_for('forum') }}">Forum</a></li>


    		<li><a title="contact webmaster" href="{{ url_for('contact') }}">Contact Us</a></li>

        {% else %}
        	<li><a title="sign in with existing account" href="{{ url_for('signin') }}">Sign in</a></li>
        	<li><a title="create new account" href="{{ url_for('register') }}">Register</a></li>
    		<li><a title="support community" href="{{ url_for('forum') }}">Forum</a></li>
    		<li><a title="contact webmaster" href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}




            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    		

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Devices</li>
{% if g.user.is_authenticated() %}

		<li class="active"> <a title="view your house" href="{{ url_for('my_house') }}"> My House</a> </li>

    		<li ><a title="device settings" href="{{ url_for('devices', nickname = g.user.nickname) }}">Devices</a><!--child--></li>
    		<li><a title="view house long" href="{{ url_for('log',nickname = g.user.nickname) }}">House Log</a><!--child--></li>
{% endif %}
              <li><a href="#">Devices Shared With Me</a></li>
              <li><a href="#">Rooms Shared With Me</a></li>
              <li class="nav-header">Account</li>
	      <li><a title="view your messages" href="{{ url_for('messages') }}"> Messages </a> </li>
              <li><a href="{{url_for('edit')}}">Manage Account</a></li>
              <li><a href="#">My Forum Posts</a></li>

		{% if g.user.role == 1 %}
              		<li class="nav-header">Admin</li>
			<li><a href="{{ url_for('manage_users') }}">Enable/Disable Accounts</a> <!--child--></li>
			<li><a title="administrative features" href="{{ url_for('admins') }}">View Admins</a>
			<li><a href="{{ url_for('add_admin') }}">Add Admin</a> <!--child--></li>
		{% endif %}


            </ul>
          </div><!--/.well -->
        </div><!--/span-->


        <div class="span9">

    {% with messages = get_flashed_messages() %}
    	{% if messages %}
			<div class="flash_messages">
		    <ul>
		    {% for message in messages %}
        		<li>{{ message }} </li>
		    {% endfor %}
    
			</ul>
			</div>
	 {% endif %}
    {% endwith %}
	
    <div id="block_content">
    {% block content %}
    {% endblock %}
    </div>
         
         
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Smart House Web App 2013</p>
      </footer>

    </div><!--/.fluid-container-->

  </body>


</html>


